/*------------------------SERVER ANNOUNCEMENTS------------------------*/
/*

.emby-tabs-slider::before {
    content: "Server Maintenance at 6AM";
    color: red;
    font-weight: bold;
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    text-align: center;
}
.emby-tab-button {
  padding-top: 2.5em;
}
.libraryPage {
    padding-top: 8.5em !important;
}

*/




/*----------------------------------------------MY CODE */
@import url("https://tywentghxst.github.io/goatsplusconfigs/ICONS4goatsplus.css");




/*----------------------------------------------remove My Media title */
.section0 .sectionTitle {display: none}


/*----------------------------------------------removes my media titles below cards */
.section0 .cardText>.textActionButton {
    display: none;
}
.layout-tv .section0 .cardText {
    display: none;
}



/*-----------------------------------------------removes empty space on home page-----------------------------------------------*/
.sectionTitleContainer-cards {
    margin: 0;
    padding-top: 0;
}



/*----------------------------------------------Changes top my media cards (movies/shows/collections) */

.layout-desktop
.section0 .itemsContainer {
    align-items: center;
 justify-content: center;
    margin-top: 0px;
}

.layout-tv
.section0 .itemsContainer {
    align-items: center;
 justify-content: center;
    margin-top: 0px;
}

.layout-mobile
.section0 .itemsContainer {
    margin-top: 0px;
}

.layout-tv
.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
    max-width: 21vw
}

.layout-mobile
.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
    max-width: 33vw
}

.layout-desktop
.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
    max-width: 40vw
}

.section0 .emby-scroller {
    margin-right: 0
}

.section0 .section0 .itemsContainer {
    flex-wrap: wrap
}

@media (max-width:75em) and (orientation:auto) {
    .section0 {
        display: none
    }
}



/*----------------------------------------------Change watched indicator color*/
.playedIndicator { background: #5dd000; }



/*----------------------------------------------Background site wide*/
.backdropImage { display: none; }
.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://static.wixstatic.com/media/e1e776_31b61eb7499240fbbe3bf6efa3c1b0b2~mv2.jpg/v1/fill/w_982,h_552,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bg_jpg_5ec89a45cb7f184e2ee7c80ed02a7831.jpg");
  filter: blur(17px);
  background-size: cover;
}



/*----------------------------------------------APP LOGO*/
.adminDrawerLogo img { content: url(https://static.wixstatic.com/media/e1e776_776bbc0a445e424ca5331f947641957d~mv2.png/v1/fill/w_976,h_382,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c690cf1c92114151a1ef9c32ec786d59-Full.png) !important; } imgLogoIcon { content: url(https://static.wixstatic.com/media/e1e776_776bbc0a445e424ca5331f947641957d~mv2.png/v1/fill/w_976,h_382,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c690cf1c92114151a1ef9c32ec786d59-Full.png) !important; } .pageTitleWithLogo { background-image: url(https://static.wixstatic.com/media/e1e776_776bbc0a445e424ca5331f947641957d~mv2.png/v1/fill/w_976,h_382,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c690cf1c92114151a1ef9c32ec786d59-Full.png) !important; }



/*----------------------------------------------Banner transparency and larger font, adjust both "size-adjust" and "size" to modify font size*/
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {background:none; background-color:rgba(0, 0, 0, 0);}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {background:none; background-color: rgba(0, 0, 0, 0);}
.headerTabs.sectionTabs {text-size-adjust: 110%;  font-size: 110%;}
.pageTitle {margin-top: auto; margin-bottom: auto;}
.emby-tab-button {padding: 1.75em 1.7em;}



/*----------------------------------------------Universal - Rounded corners and square hover buttons*/
.cardContent-button, 
.cardContent-shadow, 
.itemDetailImage, 
.cardOverlayButton-hover, 
.cardOverlayContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.cardImageContainer,
.actionSheetMenuItem:hover,
.dialog
{border-radius: 7px !important;}



/*----------------------------------------------Library Page - Align Posters to Center */
.layout-desktop
.padded-right-withalphapicker {padding-right:2.5% !important;}



/*----------------------------------------------transparent top bar*/
.skinHeader-withBackground {background-color: #20202000 !important;}



/*----------------------------------------------Partialy transparent side bar*/
div.mainDrawer {background: rgb(63,94,251);
background: rgba(63,94,251,1); !important;}



/*----------------------------------------------Center the play and pause rewind and fast forward button (MOBILE)*/
.layout-mobile
.btnPause {
    position: fixed;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
       padding: 30px;
}
.layout-mobile
.material-icons.pause:before {
    font-size: 2.1em;
}
.layout-mobile
.xlargePaperIconButton.material-icons.play_arrow:before {
    font-size: 3.5em;
}
.layout-mobile
.btnRewind {
    position: fixed;
    top: 49%;
    left: 24%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
       padding: 30px;
}
.layout-mobile
.btnFastForward {
    position: fixed;
    top: 49%;
    left: 74%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
       padding: 30px;
}
.layout-mobile
.xlargePaperIconButton.material-icons.fast_forward {
    font-size: 3.5em;
}
.layout-mobile
.xlargePaperIconButton.material-icons.fast_rewind {
    font-size: 3.5em;
}
.layout-mobile
@media (max-width: 50em) {
.videoOsdBottom .btnFastForward, .videoOsdBottom .btnRewind {
  display: block !important;
}
}


/*----------------------------------------------Center the play and pause rewind and fast forward button (DESKTOP)*/
.layout-desktop
.btnPause {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
   padding: 30px;
}
.layout-desktop
.material-icons.pause:before {
    font-size: 2.1em;
}
.layout-desktop
.xlargePaperIconButton.material-icons.play_arrow:before {
    font-size: 3.5em;
}
.layout-desktop
.btnRewind {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 30px;
}
.layout-desktop
.btnFastForward {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 30px;
}
.layout-desktop
.xlargePaperIconButton.material-icons.fast_forward {
    font-size: 3.5em;
}
.layout-desktop
.xlargePaperIconButton.material-icons.fast_rewind {
    font-size: 3.5em;
}
.layout-desktop
@media (max-width: 50em) {
.videoOsdBottom .btnFastForward, .videoOsdBottom .btnRewind {
  display: block !important;
}
}


/*----------------------------------------------Tv background wallpaper*/
/*
.layout-tv
.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://static.wixstatic.com/media/e1e776_31b61eb7499240fbbe3bf6efa3c1b0b2~mv2.jpg/v1/fill/w_982,h_552,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bg_jpg_5ec89a45cb7f184e2ee7c80ed02a7831.jpg");
  filter: blur(1px);
  background-size: cover;
}*/


/*----------------------------------------------Remove Alphabet column for Tv*/
.layout-tv
.alphaPicker {display: none;}


/*----------------------------------------------center aligning posters on Tv*/
.layout-tv
.padded-right-withalphapicker {padding-right:4% !important;}


/*----------------------------------------------Item Page for TV - resize episode preview images in a more compact way*/
.layout-tv
.listItemImage.listItemImage-large.itemAction.lazy {height: 110px;}
.layout-tv
.listItem-content {height: 115px;}
.layout-tv
.secondary.listItem-overview.listItemBodyText {height: 61px; margin: 0;}


/*-----------------------------------------------Remove Underline on Hover-------------------------------*/
.itemAction:hover { text-decoration: none; }




/*-----------------------------------------------Removes 3 Dots from cards Mobile------------------------*/
button.listItemButton.itemAction.paper-icon-button-light {display: none;}



/*-----------------------------------------------Remove My Media Arrows----------------------------------*/
#homeTab > div > div.verticalSection.section0.emby-scroller-container > div.emby-scrollbuttons.padded-right {display: none;}






/*-----------------------------------------------Narrow the login form */
#loginPage .readOnlyContent, #loginPage form {max-width: 22em;}



/*-----------------------------------------------takes mobile posters from 3 to 2---------------------*/
.layout-mobile
.portraitCard {width: 50%;
}






/*-----------------------------------------------moves my media section up higher on tv*/
.layout-tv .section0 .itemsContainer {
    margin-top: -31px;
}



/*-----------------------------------------------moves home-favorites section up higher on tv*/
.layout-tv  .headerTabs.sectionTabs {
margin-top: -40px;
}



/*-----------------------------------------------moves movies and shows section page padding higher on tv*/
.layout-tv
.padded-top {
    padding-top: 0em;
}
.layout-tv
.padded-bottom {
    padding-bottom: 0em;
}




/*-----------------------------------------------fixes height on music player/remote control on mobile*/
.layout-mobile
.nowPlayingPageImageContainer {
    margin: 0px auto 2.5em;
}
.layout-mobile
.nowPlayingInfoButtons {
    margin-bottom: 78px;
}
.layout-mobile .playlistSectionButton {
    height: 8.2em;
}
.layout-mobile .playlistSection .playlist {
    bottom: 7.2em;
}
.nowPlayingBar .nowPlayingImage {
 height: 100%;
    width: 5.2em;
}
.layout-mobile .nowPlayingBarTop {
    height: 5.2em;
}



/*-----------------------------------------------Replace "Latest Movies" text with Custom Text such as "Recently Added Movies"-----------------------------------------------*/
#homeTab > div > div.section6 > div:nth-child(1) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a > h2 {display: none;}
#homeTab > div > div.section6 > div:nth-child(1) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a > span {display: none;}
#homeTab > div > div.section6 > div:nth-child(1) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a:after {
content: 'Recently Added Movies ›';
font-size: 24px;
font-weight: normal;
}


/*-----------------------------------------------Replace Latest TV Shows text with Custom Text such as "Recently Added TV Shows"-----------------------------------------------*/
#homeTab > div > div.section6 > div:nth-child(2) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a > h2 {display: none;}
#homeTab > div > div.section6 > div:nth-child(2) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a > span {display: none;}
#homeTab > div > div.section6 > div:nth-child(2) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a:after {
content: 'Recently Added TV Shows ›';
font-size: 24px;
font-weight: normal;
}


/*-----------------------------------------------Replace Latest music text with Custom Text such as "Recently Added songs"-----------------------------------------------*/
#homeTab > div > div.section6 > div:nth-child(3) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a > h2 {display: none;}
#homeTab > div > div.section6 > div:nth-child(3) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a > span {display: none;}
#homeTab > div > div.section6 > div:nth-child(3) > div.sectionTitleContainer.sectionTitleContainer-cards.padded-left > a:after {
content: 'Recently Added Songs ›';
font-size: 24px;
font-weight: normal;
}


/*-----------------------------------------------introskip button-----------------------------------------------*/
.skipIntro {
    border: 5px solid;
    border-radius: 20px;
    padding: 0 4px;
}
.layout-mobile
.skipIntro {
  bottom: 7em;
}
.layout-tv 
.skipIntro {
 bottom: 6em;
}


/*-----------------------------------------------upnext-----------------------------------------------*/
.upNextContainer {
        background-color: #0c0c0cb0;
    border-radius: 47px;
    width: 30em;
}
.emby-button {
    border-radius: 1.2em;
}


/*-----------------------------------------------Card padder overflow (removes background for transparent png my medias) -----------------------------------------------*/

.cardBox-bottompadded .cardScalable .cardPadder-overflowBackdrop{

visibility:hidden;

}

/*-----------------------------------------------fixes the favorites/home tab on TV-----------------------------------------------*/

.layout-tv .sectionTabs {
    width: 58%;
    margin: auto;
}
.layout-tv .headerTabs.sectionTabs {
    margin-top: -92px;
}
.layout-tv .libraryPage:not(.noSecondaryNavPage) {
    padding-top: 4.5em!important;
}
.emby-button-foreground {
    position: initial;
}













/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */


/*-----------------------------------------------Add GroupPlay Wording to Sync Button--------------------*/
/*
.headerSyncButton.syncButton.headerButton.headerButtonRight.paper-icon-button-light:after {
  content: 'GroupPlay';
font-size: 15px;
font-weight: normal;
}
*/

/* Hide "manual" and "forgot" buttons */
/*
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}
#loginPage .raised.cancel.block.btnQuick.emby-button {display: none}
*/



/*-----------------------------------------------Removes titles from home page my media items------------*/
/*
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(1) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(2) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(3) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(4) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(5) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(6) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(7) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
#homeTab > div > div.verticalSection.section0 > div > div > div:nth-child(8) > div > div.cardText.cardTextCentered.cardText-first {display: none;}
*/



/*-----------------------------------------------Input Fields no Border----------------------------------*/
/*No borders, background highlights*/
/* 
.infoBanner {
    background: rgba(var(--selection), 0.15) !important;
}
fieldset {
    border: 1px solid rgba(var(--selection), 0.3);
}
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
  border: none !important;
  background: rgba(0, 0, 0, 0.5); 
}
#itemDetailPage .emby-select-withcolor {
  background: rgba(0, 0, 0, 0.2);
} */



/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */
/* //////////////////////////// disable code ////////////////////////// */












/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */
/* //////////////////////////// END OF MY CODE ALL BELOW IS TEST CODE ////////////////////////// */


/*----------------------------------------------ALL CODE BELOW IS STILL WORK IN PROGRESS TESTING CODE*/

/* //////////////////////////// TESTING ////////////////////////// */
/* //////////////////////////// TESTING ////////////////////////// */
/* //////////////////////////// TESTING ////////////////////////// */

























