

/*Hover items*/

.emby-input,
.emby-textarea {
    color: inherit;
    border: .07em solid #7b7b7b;
    border-radius: 5px;
    box-shadow: 0 0 8px 0px black !important;
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    text-shadow: 0 0 5px black;
}

.emby-select-withcolor {
    border: .07em solid #7b7b7b;
}

.cardIndicators {
    right: 0;
    top: 0;
}



.actionSheetMenuItem:hover {
    background: rgb(217, 0, 0) !important;
}

.cardBox {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0);
    transition: background .15s ease-out, box-shadow .15s ease-out;
}

.card:hover .cardBox,
.card:focus .cardBox {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 9px black;
}

.cardScalable {
    overflow: hidden;
}

.layout-mobile .card:hover .cardBox {
    background: rgba(0, 0, 0, 0.25) !important;
}

.layout-mobile .cardImageContainer {
    background-size: cover;
}

.layout-mobile .card:hover .cardImageContainer {
    background-size: cover;
}

.overflowSquareCard .cardImageContainer {
    background-size: 180%;
}

.overflowSquareCard:hover .cardImageContainer {
    background-size: 200%;
}

.overflowSquareCard .cardImageContainer::before {
    content: "";
    background: inherit;
    width: 130%;
    height: 130%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: cover;
    -webkit-filter: brightness(40%) blur(10px);
    filter: brightness(40%) blur(10px);
    z-index: 0;
    transform: translate(-50%, -50%);
}

.overflowSquareCard .cardImageContainer::after {
    content: "";
    background: inherit;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    transition: all .15s;
}

.overflowSquareCard:hover .cardImageContainer::after {
    background-size: 120%;
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard) .cardImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    transition: .15s;
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard):hover .cardImageContainer::before {
    transform: scale(1.2);
}

.progressring-bg {
    border: .25em solid transparent;
    background: transparent;
}

.itemName.parentNameLast {
    font-size: 35px;
}

#itemDetailPage .button-flat:hover {
    transform: scale(1.5);
}

.button-flat {
    border-radius: 5px !important;
}

.detailButton-content {
    -webkit-filter: drop-shadow(0px 3px 3px black);
    filter: drop-shadow(0px 3px 3px black);
}

.navMenuOption::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--accent);
    z-index: -1;
    left: 0;
    opacity: 0%;
    transition: opacity .2s;
}

.navMenuOption:hover::before {
    opacity: 100%;
}

.navMenuOption .navMenuOptionIcon {
    transition: margin-right .2s;
}

.navMenuOption:hover .navMenuOptionIcon {
    margin-right: 1.5em;
}

.listItem-border.emby-button:hover {
    background: black;
}

.listItem-border.emby-button:hover .listItemIcon {
    margin-right: .65rem;
}

.listItem-border.emby-button .listItemIcon {
    transition: margin-right .2s;
}

span.listItemIcon.material-icons {
    background: var(--accent-icon);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.defaultCardBackground {
    background: transparent;
}

.cardImageIcon {
    background: var(--accent);
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}


span.material-icons.detailButton-icon.check.playstatebutton-icon-played,
span.material-icons.detailButton-icon.favorite.ratingbutton-icon-withrating {
    background: var(--accent-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.raised::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    background: var(--accent);
    border-radius: 5px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.raised:hover::before {
    opacity: 100%;
}

.dashboardSection .defaultCardBackground {
    color: white;
}

#indexPage .raised::before {
    background: transparent;
}









