/*TEST CODE*/




















/*-----------------------------------------------fixes the favorites/home tab on TV-----------------------------------------------*/

.layout-tv .sectionTabs {
    width: 58%;
    margin: auto;
}
.layout-tv .headerTabs.sectionTabs {
    margin-top: -92px;
}
.layout-tv .padded-bottom {
    margin-top: -89px;
}
.layout-tv .libraryPage:not(.noSecondaryNavPage) {
    padding-top: 4.5em!important;
}























/*-----------------------------------------------fixes height on music player/remote control on mobile*/
@media (orientation: portrait) and (max-width: 43em)
<style>
.remoteControlContent {
    height: 88%;
}
.nowPlayingPageImage {
    margin-top: 35px;
}
.nowPlayingSecondaryButtons {
    padding: 8px;
}
@media (orientation: portrait) and (max-width: 43em)
<style>
.nowPlayingInfoContainerMedia {
    text-align: center!important;
    margin-left: 56px;
}
@media (orientation: portrait) and (max-width: 43em)
<style>
.nowPlayingInfoControls .nowPlayingPageUserDataButtonsTitle {
    margin: auto;
}
